In [26]:
import pandas as pd
import numpy as np
from scipy import sparse
import sklearn
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.metrics import log_loss
from scipy import sparse
from scipy.special import expit as sigmoid
import scipy.stats as sts
from copy import copy

from datetime import datetime, timedelta, timezone
from IPython.display import Image
import pickle
from datetime import datetime, timedelta
import json
import gc
import re
from tqdm import tqdm
from collections import defaultdict, Counter
import matplotlib.pyplot as plt

#### 1. Прочитайте и проанализируйте данные, выберите турниры, в которых есть данные о составах команд и повопросных результатах (поле mask в results.pkl). Для унификации предлагаю:
    взять в тренировочный набор турниры с dateStart из 2019 года; 
    в тестовый — турниры с dateStart из 2020 года.

In [5]:
with open("results.pkl", "rb") as handler:
    results = pickle.load(handler)

In [7]:
with open("tournaments.pkl", "rb") as handler:
    tournaments = pickle.load(handler)
    tournaments_df = pd.DataFrame(tournaments)
    
tdf = tournaments_df.transpose()
tdf.dateStart = pd.to_datetime(tdf.dateStart)
tdf.sample(5)

,id,name,dateStart,dateEnd,type,season,orgcommittee,synchData,questionQty
3722,3722,Синхрон памяти Сергея Некрасова,2017-01-13 17:00:00+03:00,2017-01-17T17:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/50,"[{'id': 13157, 'name': 'Дмитрий', 'patronymic'...",{'dateRequestsAllowedTo': '2017-01-17T23:59:59...,"{'1': 12, '2': 12, '3': 12}"
1369,1369,Чемпионат России,2003-02-15 00:00:00+03:00,2003-02-16T00:00:00+03:00,"{'id': 2, 'name': 'Обычный'}",/seasons/1,[],None,"{'1': 15, '2': 15, '3': 15, '4': 15, '5': 15, ..."
5291,5291,Чемпионат Москвы. Первая лига,2018-12-15 00:00:00+03:00,2019-04-27T18:00:00+03:00,"{'id': 2, 'name': 'Обычный'}",/seasons/52,"[{'id': 38458, 'name': 'Екатерина', 'patronymi...",None,"{'1': 18, '2': 18, '3': 18}"
3818,3818,Универсум. Синхрон,2016-05-21 14:00:00+03:00,2016-05-25T14:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/49,"[{'id': 28379, 'name': 'Константин', 'patronym...",{'dateRequestsAllowedTo': '2016-05-24T23:59:59...,"{'1': 10, '2': 10, '3': 10, '4': 10}"
1395,1395,Чемпионат Азербайджана,2003-05-11 00:00:00+04:00,2003-05-11T00:00:00+04:00,"{'id': 2, 'name': 'Обычный'}",/seasons/1,[],None,None

In [17]:
players_dictionary = dict()
with open("players.pkl", "rb") as handler:
    players = pickle.load(handler)
    players_dictionary = players
    players_df = pd.DataFrame(players)
    for player in players:
        players_dictionary[player] = players[player]["surname"] + " " + players[player]["name"]
    
pdf = players_df.transpose()
pdf.sample(5)

            id     name    patronymic      surname
184230  184230   Никита     Данилович     Воробьёв
110121  110121  Евгений    Алексеевич   Колесников
80595    80595    Борис  Владимирович   Мастеренко
6202      6202    Мария                   Вшивцева
80215    80215    Артём    Викторович  Сахариленко

In [21]:
tdf['dateStart'][3722] datetime(2020,1,1)

datetime.datetime(2017, 1, 13, 17, 0, tzinfo=tzoffset(None, 10800))

In [22]:
datetime(2020,1,1)

datetime.datetime(2020, 1, 1, 0, 0)

In [28]:
from datetime import datetime, timedelta, timezone

time1 = datetime.strptime('2021-07-15T00:22:02+0000', '%Y-%m-%dT%H:%M:%S%z')
time2 = datetime(2021, 7, 15, tzinfo=timezone(offset=timedelta()))
if time1 < time2:
    print(True)

In [30]:
tdf['dateStart'] >= datetime(2020,1,1,tzinfo=timezone(offset=timedelta()))

1       False
2       False
3       False
4       False
5       False
        ...
6481     True
6482     True
6483     True
6484     True
6485     True
Name: dateStart, Length: 5528, dtype: bool

In [313]:
tournaments_train = tdf[(tdf['dateStart'] >= datetime(2019,1,1,tzinfo=timezone(offset=timedelta())))] 
tournaments_train = tournaments_train[(tdf['dateStart'] <= datetime(2020,1,1,tzinfo=timezone(offset=timedelta())))]

<ipython-input-313-ca73271bca29>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tournaments_train = tournaments_train[(tdf['dateStart'] <= datetime(2020,1,1,tzinfo=timezone(offset=timedelta())))]

In [314]:
tournaments_test = tdf[(tdf['dateStart'] >= datetime(2020,1,1,tzinfo=timezone(offset=timedelta())))] 
tournaments_test = tournaments_test[(tdf['dateStart'] <= datetime(2021,1,1,tzinfo=timezone(offset=timedelta())))]

<ipython-input-314-2d869973214d>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tournaments_test = tournaments_test[(tdf['dateStart'] <= datetime(2021,1,1,tzinfo=timezone(offset=timedelta())))]

In [315]:
pdf['index'] = [i for i in range(len(pdf))]

In [316]:
pdf.head()

    id     name  patronymic    surname  index
1    1  Алексей        None   Абабилов      0
10  10    Игорь                 Абалов      1
11  11  Наталья     Юрьевна  Абалымова      2
12  12    Артур  Евгеньевич    Абальян      3
13  13     Эрик  Евгеньевич    Абальян      4

In [282]:
tournaments_train

,id,name,dateStart,dateEnd,type,season,orgcommittee,synchData,questionQty
4772,4772,Синхрон северных стран. Зимний выпуск,2019-01-05 19:00:00+03:00,2019-01-09T19:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/52,"[{'id': 28379, 'name': 'Константин', 'patronym...",{'dateRequestsAllowedTo': '2019-01-09T23:59:59...,"{'1': 12, '2': 12, '3': 12}"
4973,4973,Балтийский Берег. 3 игра,2019-01-25 19:05:00+03:00,2019-01-29T19:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/52,"[{'id': 23030, 'name': 'Марина', 'patronymic':...",{'dateRequestsAllowedTo': '2019-01-28T23:59:59...,"{'1': 12, '2': 12, '3': 12}"
4974,4974,Балтийский Берег. 4 игра,2019-03-01 19:05:00+03:00,2019-03-05T19:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/52,"[{'id': 23030, 'name': 'Марина', 'patronymic':...",{'dateRequestsAllowedTo': '2019-03-04T23:59:59...,"{'1': 12, '2': 12, '3': 12}"
4975,4975,Балтийский Берег. 5 игра,2019-04-05 19:05:00+03:00,2019-04-09T19:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/52,"[{'id': 23030, 'name': 'Марина', 'patronymic':...",{'dateRequestsAllowedTo': '2019-04-08T23:59:59...,"{'1': 12, '2': 12, '3': 12}"
4986,4986,ОВСЧ. 6 этап,2019-02-15 20:00:00+03:00,2019-02-19T20:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/52,"[{'id': 59140, 'name': 'Борис', 'patronymic': ...",{'dateRequestsAllowedTo': '2019-02-19T23:59:59...,"{'1': 12, '2': 12, '3': 12}"
...,...,...,...,...,...,...,...,...,...
6191,6191,Всеармянский Интеллектуальный Фестиваль,2019-12-22 12:00:00+03:00,2019-12-22T16:00:00+03:00,"{'id': 2, 'name': 'Обычный'}",/seasons/53,"[{'id': 19981, 'name': 'Сейран', 'patronymic':...",None,"{'1': 12, '2': 12, '3': 12}"
6249,6249,Школьный синхрон-lite. Сезон 3,2019-09-01 00:05:00+03:00,2020-04-30T23:55:00+03:00,"{'id': 5, 'name': 'Общий зачёт'}",/seasons/53,"[{'id': 23740, 'name': 'Владимир', 'patronymic...",None,"{'1': 36, '2': 36, '3': 36, '4': 36, '5': 36, ..."
6254,6254,Школьная лига,2019-10-04 19:00:00+03:00,2020-03-22T19:00:00+03:00,"{'id': 5, 'name': 'Общий зачёт'}",/seasons/53,"[{'id': 39218, 'name': 'Владислав', 'patronymi...",None,"{'1': 36, '2': 36, '3': 36, '4': 36, '5': 36, ..."
6255,6255,ОВСЧ,2019-09-20 20:00:00+03:00,2020-02-19T23:59:00+03:00,"{'id': 5, 'name': 'Общий зачёт'}",/seasons/53,"[{'id': 32901, 'name': 'Наиль', 'patronymic': ...",None,"{'1': 36, '2': 36, '3': 36, '4': 36, '5': 36, ..."
6370,6370,19:00 B-Quiz Online,2019-04-02 19:00:00+03:00,2019-04-09T21:00:00+03:00,"{'id': 2, 'name': 'Обычный'}",/seasons/52,"[{'id': 46976, 'name': 'Мансур', 'patronymic':...",None,"{'1': 12, '2': 12, '3': 12}"

In [283]:
len(results[4957])

92

In [284]:
results[4957][0]['mask']

'111111011111110110X11101111000101010001'

In [285]:
pdf['surname'][40877]

'Сибаев'

In [286]:
import re
a = '101111011111110100X00111111011100010100'
nums = re.findall(r'\d+', a)
nums

['101111011111110100', '00111111011100010100']

In [287]:
tournaments_train.head()

,id,name,dateStart,dateEnd,type,season,orgcommittee,synchData,questionQty
4772,4772,Синхрон северных стран. Зимний выпуск,2019-01-05 19:00:00+03:00,2019-01-09T19:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/52,"[{'id': 28379, 'name': 'Константин', 'patronym...",{'dateRequestsAllowedTo': '2019-01-09T23:59:59...,"{'1': 12, '2': 12, '3': 12}"
4973,4973,Балтийский Берег. 3 игра,2019-01-25 19:05:00+03:00,2019-01-29T19:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/52,"[{'id': 23030, 'name': 'Марина', 'patronymic':...",{'dateRequestsAllowedTo': '2019-01-28T23:59:59...,"{'1': 12, '2': 12, '3': 12}"
4974,4974,Балтийский Берег. 4 игра,2019-03-01 19:05:00+03:00,2019-03-05T19:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/52,"[{'id': 23030, 'name': 'Марина', 'patronymic':...",{'dateRequestsAllowedTo': '2019-03-04T23:59:59...,"{'1': 12, '2': 12, '3': 12}"
4975,4975,Балтийский Берег. 5 игра,2019-04-05 19:05:00+03:00,2019-04-09T19:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/52,"[{'id': 23030, 'name': 'Марина', 'patronymic':...",{'dateRequestsAllowedTo': '2019-04-08T23:59:59...,"{'1': 12, '2': 12, '3': 12}"
4986,4986,ОВСЧ. 6 этап,2019-02-15 20:00:00+03:00,2019-02-19T20:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/52,"[{'id': 59140, 'name': 'Борис', 'patronymic': ...",{'dateRequestsAllowedTo': '2019-02-19T23:59:59...,"{'1': 12, '2': 12, '3': 12}"

In [ ]:
def find_anwers

In [317]:
pdf.head()

    id     name  patronymic    surname  index
1    1  Алексей        None   Абабилов      0
10  10    Игорь                 Абалов      1
11  11  Наталья     Юрьевна  Абалымова      2
12  12    Артур  Евгеньевич    Абальян      3
13  13     Эрик  Евгеньевич    Абальян      4

In [329]:
results[4772][0]['teamMembers'][0]['player']['id']

6212

In [347]:
idx = []
count_playes = len(pdf)
count_anwer = 0
count_anwers_team = 0
y = []
for id_tour in tournaments_train['id']:
    for team in results[id_tour]:
        list_players = []
        for player in team['teamMembers']:
            list_players.append(pdf['index'][player['player']['id']])
        if not 'mask' in team.keys() or team['mask'] is None:
            continue
        for anwer in team['mask']:
            if anwer == '1' or anwer == '0':
                for id_player in list_players:
                    idx.append([ count_anwer, id_player])
                    idx.append([count_anwer, count_playes +  count_anwers_team ])
                    count_anwer += 1
                    y.append(int(anwer))
            count_anwers_team += 1

In [363]:
assert len(y) == len(idx)/ 2

In [480]:
idx[0]

[0, 5846]

In [364]:
count_playes +  count_anwers_team

4051626

In [365]:
X = sparse.lil_matrix((len(y), count_playes +  count_anwers_team))

In [366]:
for i, j in idx:
    X[i, j] = 1

In [367]:
y = np.array(y)
dim0, dim1 = X.shape

In [368]:
lr = LogisticRegression(tol=1e-1, solver="saga", C=10, fit_intercept=False)
lr.fit(X, y)

LogisticRegression(C=10, fit_intercept=False, solver='saga', tol=0.1)

In [353]:
rating = lr.coef_[0][:count_playes]

In [354]:
p = pdf.copy()

In [355]:
p['rating']=rating

In [362]:
p['rating'][30152]

1.7265674990944717

In [369]:
p.sort_values(by=['rating'], ascending=False)[:50]

            id        name      patronymic       surname   index    rating
215495  215495        Юлия                       Крюкова  195516  2.745997
215497  215497   Екатерина                      Горелова  195518  2.744078
215496  215496     Наталья                     Артемьева  195517  2.741242
36844    36844       Павел  Константинович       Щербина   34776  2.533951
88842    88842      Сергей         Юрьевич  Калинковский   78355  2.222352
59934    59934       Артём       Семёнович        Черней   52640  2.211011
67268    67268      Максим   Александрович      Кузнецов   59272  2.198411
47545    47545   Екатерина   Александровна     Кузнецова   43053  2.191863
108911  108911      Михаил         Юрьевич    Митрофанов   96627  2.168261
83425    83425       Вадим         Юрьевич    Виноградов   73480  2.162507
27403    27403      Максим      Михайлович         Руссо   25870  2.128396
4270      4270  Александра    Владимировна        Брутер    4034  2.083690
202410  202410   Валентина                      Подюкова  183202  2.027185
82688    82688       Игорь   Станиславович        Калгин   72835  2.013876
28751    28751        Иван      Николаевич       Семушин   27144  1.996588
217909  217909       Семён     Григорьевич     Кохоновер  197755  1.962879
210650  210650      Никита    Владимирович       Романов  190949  1.959223
36910    36910        Иван   Александрович      Эйхгольц   34839  1.955448
197536  197536   Елизавета      Алексеевна     Рахманова  178695  1.952141
197538  197538   Анастасия      Евгеньевна     Васильева  178697  1.950988
197537  197537  Константин       Романович         Фонов  178696  1.950959
197534  197534      Полина       Сергеевна      Колычева  178693  1.950351
197535  197535     Тимофей     Геннадиевич         Дедов  178694  1.950229
197539  197539      Никита   Станиславович         Бабич  178698  1.948445
50950    50950       Артём      Максимович      Радченко   45703  1.942156
205268  205268  Константин        Петрович       Каволин  185875  1.940553
205267  205267     Василий      Алексеевич     Погребной  185874  1.937055
205269  205269       Мария       Артёмовна      Маторная  185876  1.935525
27822    27822      Михаил    Владимирович     Савченков   26268  1.875063
166637  166637        Анна      Дмитриевна    Гришанкова  149797  1.835962
176756  176756        Иван       Андреевич     Гришанков  159225  1.831941
30270    30270      Сергей      Леонидович       Спешков   28572  1.808013
12307    12307    Светлана       Сергеевна      Иванцова   11590  1.805819
28362    28362      Михаил      Михайлович      Сафронов   26776  1.799555
212514  212514        Анна   Александровна       Флимова  192744  1.770752
166636  166636      Ульяна   Александровна        Радная  149796  1.767879
26500    26500       Ольга      Николаевна         Юдина   25033  1.760296
180055  180055      Никита      Дмитриевич      Панфилов  162321  1.758573
37746    37746   Александр    Вячеславович       Романов   35603  1.747593
214855  214855        Анна   Александровна     Федосеева  194918  1.746972
214858  214858       Арина       Андреевна      Давыдова  194921  1.745973
214856  214856     Снежана      Николаевна      Таскаева  194919  1.745232
214859  214859       Вадим      Михайлович       Поносов  194922  1.745007
214860  214860       Данил       Андреевич      Баранков  194923  1.744060
214857  214857  Александра      Алексеевна       Балуева  194920  1.741121
206647  206647        Егор      Алексеевич       Соколов  187153  1.737996
180054  180054        Егор      Максимович      Лобынцев  162320  1.737733
180053  180053  Константин       Сергеевич       Шаталин  162319  1.736266
180056  180056     Серафим   Александрович         Рылов  162322  1.736023
206649  206649   Александр      Михайлович     Ковалевич  187155  1.735595

In [370]:
range(3)

range(0, 3)

# 3 задание

In [371]:
tournaments_test.head()

,id,name,dateStart,dateEnd,type,season,orgcommittee,synchData,questionQty
4628,4628,Семь сорок,2020-12-30 16:00:00+03:00,2020-12-30T16:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",None,"[{'id': 7533, 'name': 'Денис', 'patronymic': '...",{'dateRequestsAllowedTo': '2020-12-30T23:55:00...,"{'1': 12, '2': 12, '3': 12}"
4957,4957,Синхрон Биркиркары,2020-02-21 00:00:00+03:00,2020-02-27T23:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/53,"[{'id': 2421, 'name': 'Ася', 'patronymic': 'Се...",{'dateRequestsAllowedTo': '2020-02-27T18:00:00...,"{'1': 13, '2': 13, '3': 13}"
5151,5151,Яровой,2020-08-01 14:00:00+03:00,2020-08-05T14:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/53,"[{'id': 22325, 'name': 'Михаил', 'patronymic':...",{'dateRequestsAllowedTo': '2020-07-24T23:59:59...,"{'1': 12, '2': 12, '3': 12}"
5414,5414,Синхрон северных стран,2020-01-03 19:00:00+03:00,2020-01-10T19:00:00+03:00,"{'id': 3, 'name': 'Синхрон'}",/seasons/53,"[{'id': 28379, 'name': 'Константин', 'patronym...",{'dateRequestsAllowedTo': '2020-01-10T23:59:00...,"{'1': 12, '2': 12, '3': 12}"
5477,5477,Онлайн: Синхрон Урюбджирова,2020-04-18 19:00:00+03:00,2020-04-30T19:00:00+03:00,"{'id': 8, 'name': 'Асинхрон'}",/seasons/53,"[{'id': 91324, 'name': 'Эрдни', 'patronymic': ...",{'dateRequestsAllowedTo': '2020-04-30T23:55:00...,"{'1': 12, '2': 12, '3': 12}"

In [492]:
corr_1 = []
corr = []
for id_tour in tournaments_test['id']:
# for id_tour in [4957]:
    count_anw = []
    list_index_players = []
    j = 0
    if results[id_tour] == []:
        continue
   
    for team in results[id_tour]:
        if not 'mask' in team.keys() or team['mask'] is None:
            continue
        count_anw.append(len(re.findall(r'1',team['mask'])))
        list_append = []
        for playes in team['teamMembers']:
            list_append.append(pdf['index'][playes['player']['id']])
        list_index_players.append(list_append)
    if len(list_index_players) < 3:
        continue
    X = sparse.lil_matrix((len(list_index_players), dim1))
    for i in range(len(list_index_players)):
        for j in list_index_players[i]:
            X[i,j] = 1
    
    a = lr.predict_proba(X)[:, 1]
    corr_1.append(sts.spearmanr(a, count_anw).correlation)
    
    corr.append(sts.kendalltau(a, count_anw).correlation)

In [493]:
np.mean(corr)

0.44884594495696234

In [494]:
np.mean(corr_1)

0.5888975140440509

In [496]:
pd.Series([1,2,10]).prod()

20

In [499]:
np.array([2,0.4]).clip(0, 1)

array([1. , 0.4])